@charset "utf-8";
.an_tag-link{
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}
.an_tag-link:hover{
    border: 1px solid #5897fb;
}
.an_btn-reset-hidden{
    display: none;
}
/* Список c превью */
.input-file-list {
    padding: 10px 0;
}
.input-file-list-item {
    display: inline-block;
    margin: 0 15px 15px;
    width: 150px;
    vertical-align: top;
    position: relative;
}
.input-file-list-item img {
    width: 150px;
}
.input-file-list-name {
    text-align: center;
    display: block;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.input-file-list-remove {
    color: #000;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 5px;
    right: 5px;
    background: #e9ecef;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
}
.block-images {
    position: relative;
}
.overlay{
    display: none;
    height: auto;
    left: -15%;
    position: absolute;
    top: -50%;
    width: auto;
    z-index: 999;
}
.overlay .overlay_container{
    display: table-cell;
    vertical-align: middle;
}
.overlay_container img{
    background-color: #AB5;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.overlay:target {
    display: table;
}